<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="charlesli.com.personalvocabbuilder" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyVocabActivity"
            android:label="@string/title_activity_my_vocab"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="charlesli.com.personalvocabbuilder.MainActivity" />
        </activity>
        <activity
            android:name=".ReviewActivity"
            android:label="@string/title_activity_review"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="charlesli.com.personalvocabbuilder.MainActivity" />
        </activity>
        <activity
            android:name=".CategoriesActivity"
            android:label="@string/title_activity_categories"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="charlesli.com.personalvocabbuilder.MainActivity" />
        </activity>
        <activity
            android:name=".WordDefinitionActivity"
            android:label="@string/title_activity_word_definition"
            android:parentActivityName=".ReviewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="charlesli.com.personalvocabbuilder.ReviewActivity" />
        </activity>
        <activity
            android:name=".MyWordBank"
            android:label="@string/title_activity_my_word_bank"
            android:parentActivityName=".CategoriesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="charlesli.com.personalvocabbuilder.CategoriesActivity" />
        </activity>
    </application>

</manifest>
